/*
// | MobileCms 移动应用软件后台管理系统
// +----------------------------------------------------------------------
// | provide by ：59miao.com
// 
// +----------------------------------------------------------------------
// | Author: htzhanglong@foxmail.com
// +----------------------------------------------------------------------
*/
@CHARSET "UTF-8";

body {
	/* background: #444; */
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: url(../images/bg4.png) no-repeat;
	background-size: cover;
}

#login {
	width: 740px;
	height: 300px;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.95;
	transition: all 1s;
	background: url(../images/loginbg.jpg) no-repeat left center;
}

#login:hover{
	transform: scale(1.05);
	/* box-shadow: 5px 5px 5px #eee; */
}

#login dl {
	width: 500px;
	margin: 0 0 0 auto;
	padding: 10px 0 0 20px;
	color: #01458E;
	float: left;
	font-size: 15px;
}

#login dl dd {
	margin: 16px 0;
	height: 32px;
	line-height: 32px;
}

#login dl dd input.text {
	width: 280px;
	height: 30px;
	line-height: 30px;

}

#login dl dd input.submit {
	background: url("../images/login_btn.jpg") no-repeat center center;
	border: none;
	margin: 10px;
	margin-left: 90px;
	padding: 2px 8px 0;
	cursor: pointer;
	width: 123px;
	height: 29px;
}

#login dl dd.code {
	padding: 0 0 0 72px;
}

#login dl dd.code img {
	border: 1px solid #eee;
	cursor: pointer;
}

#verify {
	height: 30px;
	line-height: 30px;
	width: 90px;
	margin-right: 3px;
}

#verify_img {
	cursor: pointer;
	position: relative;
	top: 12px;
}

.text {
	height: 22px;
}

.l_title {
	/* text-align: center; */
	margin-left: 15px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	padding-left: 5px;
	padding-top: 10px;
	color: #01458e;
	font-weight: bold;

}